#php 1
Redirect Permanent /fr/agnanovince.pdf http://www.linkedin.com/in/vincentagnano
Redirect Permanent /fr/presentation.htm http://particul.es
Redirect Permanent /fr/travaux.htm http://github.com/vinyll
Redirect Permanent /fr/contact.htm http://twitter.com/vinyll

Redirect permanent /en/indexEN.php http://agnanov.free.fr
Redirect Permanent /en/agnanovince.pdf http://www.linkedin.com/in/vincentagnano
Redirect Permanent /en/presentation.htm http://particul.es
Redirect Permanent /en/travaux.htm http://github.com/vinyll
Redirect Permanent /en/contact.htm http://twitter.com/vinyll

