@import url(http://fonts.googleapis.com/css?family=Lora);

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lora, serif;
  line-height: 1.6;
  background-color: #f6f6f6;
  color: #2E325D;
}

a {
  color: #22a;
}

body > header {
  background: transparent url("../images/nyc-bagpack-960.jpg") no-repeat bottom right;
  position: fixed;
  height: 75%;
  min-height: 300px;
  max-height: 530px;
  width: 100%;
  text-align: center;
}

body > header > a {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border: 3px solid #fff;
  border-radius: 50px;
  margin: auto;
  color: #fff;
  font-size: 1.8em;
  width: 50px;
  height: 50px;
  text-align: center;
  bottom: 5%;
  margin-left: -25px;
  box-shadow: 0 0 2px #fff;
  text-shadow: 0 0 2px #fff;
}
body > header > a:hover {
  color: #ccc;
  border-color: #ccc;
}

main {
  position: absolute;
  padding: 5%;
  top: 75%;
  background-color: #fff;
}

main header a {
  color: inherit;
  text-decoration: inherit;
}

main > header {
  border-bottom: 1px solid #333;
  padding-bottom: 2em;
}
main > header h1,
main > header h2 {
  color: #333;
  font-size: 1.2em;
  font-weight: 100;
  margin: 0;
}
main > header h2 {
    font-size: 1.6em;
}
main > header small {
  font-size: .7em;
}
main > header small::before {
  content: " (";
}
main > header small::after {
  content: ") ";
}
main > header span {
  display: block;
}

main nav {
  float: right;
  margin-top: -32px;
}
main nav a {
  display: inline-block;
  width: 25px;
}
main nav a img {
  width: 100%;
}

main > section h1,
main > section h2 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-weight: normal;
}
main > section h1 {
  font-size: 2.5em;
}
main > section h2 {
  margin: 1.5em 0 0 0;
  font-size: 2em;
  text-align: center;
}
main > section:not(:last-child) {
  border-bottom: 1px dotted #333;
  padding-bottom: 1.5em;
}

p {
  font-size: 1.4em;
}
.switch-i18n {
  display: block;
  width: 32px;
  height: 32px;
  margin-top: -94px;
  margin-right: -84px;
  text-indent: -1000%;
  background-image: url(../images/en.png);
  background-size: 100% auto;
  float: right;
}
.switch-i18n[lang=en] {
  background-image: url(../images/en.png);
}
.switch-i18n[lang=fr] {
  background-image: url(../images/fr.png);
}

.permalink {
  color: transparent;
  text-decoration: none;
  font-size: 1em;
}
.permalink:before {
  content: '¶ ';
}

h1:hover .permalink,
h2:hover .permalink {
  color: #ccc;
}
