@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lora, serif;
  line-height: 1.6;
  color: #777;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-weight: normal;
}
h1 {
  font-family: Lora, Serif;
  font-size: 2em;
}
 h2 {
   margin: 2rem 1rem 0 0;
 }

a {
  color: #77c;
}

/* layout */

.switch-i18n {
  display: block;
  width: 32px;
  height: 32px;
  margin-top: -94px;
  margin-right: -84px;
  text-indent: -1000%;
  background-image: url(../images/en.png);
  background-size: 100% auto;
  float: right;
  overflow: hidden;
}
.switch-i18n[lang=en] {
  background-image: url(../images/en.png);
}
.switch-i18n[lang=fr] {
  background-image: url(../images/fr.png);
}

body > header {
  background: transparent url("../images/nyc-bagpack-960.jpg") no-repeat bottom right;
  background-size: cover;
  text-align: center;
}

body > header > a {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border: 3px solid #fff;
  border-radius: 50px;
  margin: auto;
  color: #fff;
  font-size: 1.8em;
  width: 50px;
  height: 50px;
  text-align: center;
  bottom: 5%;
  margin-left: -25px;
  box-shadow: 0 0 2px #fff;
  text-shadow: 0 0 2px #fff;
}
body > header > a:hover {
  color: #ccc;
  border-color: #ccc;
}

main header a {
  color: inherit;
  text-decoration: inherit;
}

main > header {
  border-bottom: 1px solid #333;
  padding-bottom: 2em;
}
main > header h1 {
  font-size: .88em;
}
main > header small {
  font-size: .7em;
}
main > header small::before {
  content: " (";
}
main > header small::after {
  content: ") ";
}
main > header span {
  display: block;
}

main nav {
  float: right;
  margin-top: -32px;
}
main nav a {
  display: inline-block;
  width: 25px;
}
main nav a img {
  width: 100%;
}

main article h1 {
  text-align: center;
  position: relative;
}

main article h1:before,
main article h1:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 25%;
  height: 1px;
  content: '\a0';
  background-color: #59c;
}
main article h1:before {
  margin-left: -30%;
  text-align: right;
}
main article h1:after {
  margin-left: 5%;
}
