body {
  display: flex;
}
body > header {
  display: inherit;
  background-image: url(../images/nyc-bagpack-vertical.jpg);
  width: 400px;
}

body > header > a {
  display: none;
}

main {
  position: inherit;
  top: inherit;
  background-color: inherit;
  overflow: scroll;
  flex: 1;
}
main > .wrapper {
  max-width: 50rem;
  margin: 0 auto;
}

main article h1 {
  margin: 5rem 0 3rem 0;
}

main nav {
  float: inherit;
  margin-top: inherit;
}

.switch-i18n {
  margin-top: -32px;
  margin-right: inherit;
}
