body > header {
  display: inherit;
  background-image: url(../images/nyc-bagpack-vertical.jpg);
  width: 400px;
  height: inherit;
  max-height: inherit;
  display: inline-block;
  position: fixed;
}

body > header > a {
  display: none;
}

main {
  display: inline-block;
  margin-left: 400px;
  position: inherit;
  top: inherit;
  background-color: inherit;
}

main nav {
  float: inherit;
  margin-top: inherit;
}

.switch-i18n {
  margin-top: -32px;
  margin-right: inherit;
}
